aioesphomeapi==44.5.2
aiohappyeyeballs==2.6.1
ajsonrpc==1.2.0
annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.3
async_interrupt==1.2.2
bitarray==3.8.0
bitstring==4.4.0
bleak==2.1.1
bottle==0.13.4
cbor2==5.9.0
certifi==2026.2.25
cffi==2.0.0
chacha20poly1305-reuseable==0.13.2
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
crcmod==1.7
cryptography==46.0.5
dbus-fast==4.0.0
esphome==2026.3.0
esphome-dashboard==20260210.0
esphome-glyphsets==0.2.0
esptool==5.2.0
freetype-py==2.5.1
h11==0.16.0
icmplib==3.0.4
idna==3.11
ifaddr==0.2.0
intelhex==2.3.0
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
mdurl==0.1.2
noiseprotocol==0.3.1
packaging==26.0
paho-mqtt==1.6.1
pillow==12.1.1
platformio==6.1.19
protobuf==7.34.1
puremagic==1.30
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyelftools==0.32
Pygments==2.19.2
pyparsing==3.3.2
pyserial==3.5
PyYAML==6.0.3
reedsolo==1.7.0
requests==2.32.5
resvg_py==0.2.6
rich==14.3.3
rich-click==1.9.7
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
semantic-version==2.10.0
smp==4.0.2
smpclient==6.0.0
starlette==0.52.1
tabulate==0.10.0
tibs==0.5.7
tornado==6.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.40.0
voluptuous==0.16.0
wsproto==1.3.2
zeroconf==0.148.0
